// VARIABLES

// COLORS 
$white: #ffffff;
$black: #000000;

$radical-red: #ff3e79;
$shark: #1b1c21;
$bright-turquoise: #41f6d7;
$aero-blue: #b8ffec;
$jumbo:#7e7e82;
$alabaster: #f8f8f8;
$gallery:#EAEAEA;
$bombay: #B5B6BC;

$color-text: $jumbo;
$background-color: $alabaster;

// FONTS
$font-size-base: 16px;

$font-path: '../fonts';

$font-family-custom: 'TTLakes';
$font-family-default: sans-serif;

$font-family: $font-family-custom, $font-family-default;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-large: 28px;
$font-size-big: 24px;
$font-size-medium: 18px;
$font-size-small: 16px;
$font-size-tiny: 14px;
$font-size-miniature: 12px;

$line-height-huge: 40px;
$line-height-big: 32px;
$line-height-large: 24px;
$line-height-medium: 20px;
$line-height-small: 18px;
$line-height-tiny: 16px;

// BREAKPOINTS
$screen-desktop: "(min-width: 1440px)";
$screen-desktop-small: "(min-width: 1120px)";
$screen-tablet: "(min-width: 768px)";
$screen-phone: "(max-width: 290px)";

// LAYOUT 
$width-container: 1070px;
$padding-container: 15px;

// FONT CONNECTION
@font-face {
    $font-name: "#{$font-family-custom}-Regular";
    font-family: $font-family-custom;
    font-weight: $font-weight-regular;
    font-style: normal;
    src:
        url("#{$font-path}/#{$font-name}.woff"),
        url("#{$font-path}/#{$font-name}.ttf"),
}
@font-face {
    $font-name: "#{$font-family-custom}-Medium";
    font-family: $font-family-custom;
    font-weight: $font-weight-medium;
    font-style: normal;
    src:
        url("#{$font-path}/#{$font-name}.woff"),
        url("#{$font-path}/#{$font-name}.ttf"),
}
@font-face {
    $font-name: "#{$font-family-custom}-Bold";
    font-family: $font-family-custom;
    font-weight: $font-weight-bold;
    font-style: normal;
    src:
        url("#{$font-path}/#{$font-name}.woff"),
        url("#{$font-path}/#{$font-name}.ttf"),
}

// ROOT
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;

    transition: all 0.2s ease-in-out;
    font-family: $font-family;
}

.container {
    width: 100%;
    max-width: $width-container + $padding-container;
  
    margin-left: auto;
    margin-right: auto;
    padding-left: $padding-container;
    padding-right: $padding-container;
}
.section-title {
    color: $color-text;
    font-size: $font-size-medium;
    font-weight: $font-weight-regular;
    line-height: $line-height-large;
}

.hidden {
    position: absolute;
    top: -100%;
    opacity: 0;
}
ul {
    list-style: none;

    padding: 0;
}

a {
    color: $shark;

    text-decoration: none;
}
// /ROOT

// BUTTON
.button {
    margin: 0;
    padding: 0;

    border: none;
      
    cursor: pointer;

    & >.button__icon {
        display: flex;

        width: 40px;
        height: 40px;
      
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
      
        background-color: $radical-red;
        border-radius: 50%;
    }
    &--type--rounded {
        border-radius: 50%;
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 5px 15px rgba(52, 152, 219, 0.4);
        }   
    }
    &--type--texted {
        -webkit-appearance: none;

        display: flex;

        align-items: center;
      
        border-radius: 0;;
        background-color: inherit;

        line-height: $line-height-large;
        font-weight: $font-weight-medium;

        font-size: $font-size-small;
        color: #1b1c21;
        &:hover { 
            &>.button__icon {
                transform: rotate(8deg);
            }
            & > .button__text {
                opacity: .8;
            }
        }
        & > .button__text {
            max-width: 150px;
            
            padding: 0;
            margin: 0;
            margin-right: 10px;
    
            overflow: hidden;
    
            text-wrap: nowrap;
            text-overflow: ellipsis;
                      
        }
    }
    &--type--more {
        &::before {
            display: inline-block;
            content: "";
            width: 10px;
            height: 10px;
            margin-right: 10px;
            background: url('../images/icons/arrow-down-icon.svg') no-repeat;
        }
        &:hover {
            &::before {
                transform: translateY(1px)
            }
        }
    }
    &--type--mail {

        color: $shark;

        line-height: $line-height-large;
    }
    &--type--phone {
        font-weight: $font-weight-bold;
        font-size: $font-size-big;
        line-height: $line-height-big;
    }
    &--type--phone:hover,
    &--type--mail:hover {
        opacity: .7;
    }

    &--type--lang {

        color: $shark;
        background-color: transparent;

        line-height: $line-height-large;
    }

    &--active {
        color: $jumbo;
    }
}
// /BUTTON

// PAGE
.page {
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;

    margin: 0;

    &__main{
        flex-grow: 1;
    }
}
// /PAGE
// HEADER
.header {
    align-items: center;
    display: flex;

    padding-top: 16px;
    padding-bottom: 16px;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__column {
        display: flex;
        flex-shrink: 1;
        align-items: center;
    }
    &__menu {
        position: relative;
        margin-right: 15px;
        @media screen and ($screen-tablet) {
            margin-right: 40px;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -20px;
                transform:translateY(-50%);

                display: block;

                width: 2px;
                height: 32px;

                background-color: #EAEAEA;
            }
    }
    }
    &__logo {
        position: relative;
        margin-right: 15px;

        @media screen and ($screen-phone) {
            display: none;
        }
    }
    &__contacts {
        display: none;
        margin-right: 15px;
        @media screen and ($screen-tablet) {
            display: block;
        }
    }
    &__services {
        display: flex;
        position: relative;
        padding-left: 20px;
        @media screen and ($screen-phone) {
            display: none;
        }
    }
    &__services::before {
        content: "";

        position: absolute;
        top: 50%;
        left: 0;
        transform:translateY(-50%);

        display: block;

        width: 2px;
        height: 32px;

        background-color: #EAEAEA;
    }
    @media screen and ($screen-phone) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    @media screen and ($screen-desktop-small) {
        display: none;
    }
}
// /HEADER

// TITLE
.title {
    margin: 0;

    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: $line-height-huge;
}
// TITLE

// SERVICES 
.services {
    right: 15px;
    top:0;

    &__button {
        &:nth-child(1) {
            margin-right: 15px;
        }
    }
}
// / SERVICES

// CONTACTS
.contacts{
    &__button:not(:last-child) {
        margin-right: 15px;
    }
}
// /CONTACTS

// MAIN
.main {
    padding-top: 25px;
    background-color: $alabaster;
    
    &__title {
        margin-bottom: 30px;

        @media screen and ($screen-desktop-small) {
            margin-bottom: 20px;
        }
        &::before {
            width: 4px;
            height: 40px;
            
            position: absolute;
            left: 0 !important;
          
            display: inline-block;
          
            content: "";
          
            background-color: $bright-turquoise;
          
            border-top-right-radius:30%;
            border-bottom-right-radius:30%;
            @media screen and ($screen-desktop) {
                  display: none;
            }
        }
    }
    &__tabs {
        margin-bottom: 15px;
    }
}
// MAIN

// TABS
.tabs {
    overflow: scroll;
    &__list {
        display: flex;

        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
        
        @media screen and ($screen-desktop-small) {
            flex-wrap: wrap;           
        }
    }
    &__item {
        margin: 0;
        border-radius: 5px;
        margin-bottom: 15px; 
    }
    &__link {
        text-wrap: nowrap;
        white-space: nowrap;
        color: $jumbo;
      
        padding: 5px 20px 0 5px;

        line-height: $line-height-large;
        font-weight: $font-weight-medium;

        border: 2px solid rgba($aero-blue,0);
        
        border-radius: 5px;
        &:not(.tabs__link--active):hover {
            opacity: 0.7;
        }

        &--active {
            padding: 5px 20px;
            background-color: $white;
            border: 2px solid $aero-blue;
        }

    }
    @media screen and ($screen-desktop-small) {
        overflow: hidden;
        flex-wrap: wrap;           
    }
    @media screen and ($screen-desktop) {
        margin-bottom: 15px;
    }
}
// TABS

// ABOUT
.about {
    display: flex;
    flex-direction: column;

    &__services {
        display: none;

        @media screen and ($screen-desktop-small) {
            display: flex;
        }
    }
    &__header {
        display: flex;

        align-items: center;
        justify-content: space-between;
    }
    &__button {
        margin-top: 15px;
        &:nth-child(1) {
            margin-right: 30px;
        }
    }
    &__content {
        @media screen and ($screen-tablet) {
            display: flex;
            flex-direction:row;
        
            justify-content: space-between;
        }
    }

    &__paragraph {
        color: $shark;
        
        font-size: $font-size-small;
        line-height: $line-height-small;
        white-space: pre-wrap;

        @media screen and ($screen-tablet) {
            line-height: $line-height-medium;
        }
    }
    &__image {
        width: calc(100% + $padding-container * 2);
        height: auto;
        
        margin-left: -$padding-container;
        margin-right: -$padding-container;
        @media screen and ($screen-tablet) {
            width: 100%;
            height: auto;

            margin-left: 0;
            margin-right: 0;
            
            border-radius: 6px;
        }
    }
    &__column:nth-child(1) {
        margin-bottom: 15px;
        @media screen and ($screen-tablet) {
            margin-bottom: 0;
            flex: 0 1 44%;
        }
        @media screen and ($screen-desktop-small) {
            flex: 0 1 46%;
        }
    }
    &__column:nth-child(2) {
        flex: 0 1 50%;
        margin-bottom: 15px;
    }
}
// /ABOUT

// SIDE-MENU
.side-menu {
    
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 320px;
    height: 100%;
    
    padding-left: 25px;
    padding-right: 25px;

    box-shadow: 16px 0 52px 0 rgba($color: #0E185033, $alpha: 0.2),
                -2px 4px 0 0 rgba($color: #454F7E05, $alpha: 0.02);

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__menu-button {
        margin-right: 15px;
    }
    &__contacts {
        margin-bottom: 15px;
    }
    &__controls {
        display: flex;
        flex-direction: column;
    }
    &__mail {
        margin-bottom: 10px;
    }
    &__phone {
        margin-bottom: 40px;
    }
    &__lang-controls {
        margin-bottom: 30px;
    }
}

// /SIDE-MENU

// NAVIGATION
.navigation {
    &__item{
        &:not(:last-child)  {
            margin-bottom: 30px;
        }
    }
    &__link{
        display: inline-block;

        position: relative;

        color: $shark;

        line-height: $line-height-big;
        &:hover {
            color: $jumbo;
        }
        &--active {
            color: $jumbo;
            &::before {
                position: absolute;
                top: 0;
                left: -25px;

                content: "";

                width: 4px;
                height: 100%;

                background-color: $bright-turquoise;

                border-top-right-radius:30%;
                border-bottom-right-radius:30%;
            }
        }
    }
}
// /NAVIGATION

// BRANDS
.brands {
    &__title {
        padding: 15px 0;
        margin-bottom: 15px;

        background-color: $white;
    }
}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 20px;

    background-color: $white;
    border: 1px solid $gallery;
    border-radius: 5px;

    max-height: 72px;
    @media screen and ($screen-tablet) {
        width: 100%;
    }

    &__button {
        width: 40px;
        height: 40px;

        border: 2px solid $radical-red;

        background-color: $white;
        & > .button__icon {
            width: auto;
            height: auto;

            background-color: $white;
        }
    }

    &__image {
        flex: 0 0 auto;
    }
}
// /BRANDS 
// SWIPER
.swiper {
    height: 115px;

    &-button {
        display: none;
    }
    &::after {
        content: '';

        position: absolute;
        top: 0;
        right: 0;

        display: block;
        width: 20px;
        height: 76px;

        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255, 1));
        opacity: 0.6;
        z-index: 10;
    }
    &-pagination-bullet {
        --swiper-pagination-bullet-size: 12px;
        --swiper-pagination-color: #B5B6BC;
        --swiper-pagination-bullet-inactive-color: #DDDDDD;
        --swiper-pagination-bullet-inactive-opacity: 1;
    }

    &-pagination-bullet-active {
        color: #fff;
        background: #007aff;
    }

    &-slide {
        box-sizing: border-box;
        max-height: 72px;
    }
    @media screen and ($screen-tablet) {
        height: auto;

        &-wrapper {
            --gap: 30px;
            --elements: 3;

            display: flex;

            flex-wrap: wrap;          

            gap: var(--gap);

            margin-bottom: 25px;
        }
        &-slide {
            width: calc((100% - (var(--elements) - 1) * var(--gap)) / (var(--elements)));
        }
        &-button {
            display: inline-block;
            &--active {
                &::before {
                    transform: rotate(180deg);
                }
                &:hover {
                    &::before {
                        transform:translateY(-1px) rotate(180deg);
                    }
                }
            }
        }
    }
    @media screen and ($screen-desktop) {
        &-wrapper {
            --elements: 4;
        }
    }
}
// /SWIPER