@font-face {
  font-family: "TTLakes";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TTLakes-Regular.woff"), url("../fonts/TTLakes-Regular.ttf");
}
@font-face {
  font-family: "TTLakes";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/TTLakes-Medium.woff"), url("../fonts/TTLakes-Medium.ttf");
}
@font-face {
  font-family: "TTLakes";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/TTLakes-Bold.woff"), url("../fonts/TTLakes-Bold.ttf");
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  transition: all 0.2s ease-in-out;
  font-family: "TTLakes", sans-serif;
}

.container {
  width: 100%;
  max-width: 1085px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  color: #7e7e82;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.hidden {
  position: absolute;
  top: -100%;
  opacity: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #1b1c21;
  text-decoration: none;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
.button > .button__icon {
  display: flex;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-color: #ff3e79;
  border-radius: 50%;
}
.button--type--rounded {
  border-radius: 50%;
}
.button--type--rounded:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(52, 152, 219, 0.4);
}
.button--type--texted {
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  border-radius: 0;
  background-color: inherit;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #1b1c21;
}
.button--type--texted:hover > .button__icon {
  transform: rotate(8deg);
}
.button--type--texted:hover > .button__text {
  opacity: 0.8;
}
.button--type--texted > .button__text {
  max-width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.button--type--more::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: url("../images/icons/arrow-down-icon.svg") no-repeat;
}
.button--type--more:hover::before {
  transform: translateY(1px);
}
.button--type--mail {
  color: #1b1c21;
  line-height: 24px;
}
.button--type--phone {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.button--type--phone:hover, .button--type--mail:hover {
  opacity: 0.7;
}
.button--type--lang {
  color: #1b1c21;
  background-color: transparent;
  line-height: 24px;
}
.button--active {
  color: #7e7e82;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.page__main {
  flex-grow: 1;
}

.header {
  align-items: center;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__column {
  display: flex;
  flex-shrink: 1;
  align-items: center;
}
.header__menu {
  position: relative;
  margin-right: 15px;
}
@media screen and ((min-width: 768px)) {
  .header__menu {
    margin-right: 40px;
  }
  .header__menu::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    display: block;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
  }
}
.header__logo {
  position: relative;
  margin-right: 15px;
}
@media screen and ((max-width: 290px)) {
  .header__logo {
    display: none;
  }
}
.header__contacts {
  display: none;
  margin-right: 30px;
}
@media screen and ((min-width: 768px)) {
  .header__contacts {
    display: block;
  }
}
.header__services {
  display: flex;
  position: relative;
  padding-left: 20px;
}
@media screen and ((max-width: 290px)) {
  .header__services {
    display: none;
  }
}
.header__services::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
}
@media screen and ((max-width: 290px)) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media screen and ((min-width: 1120px)) {
  .header {
    display: none;
  }
}

.title {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}

.services {
  right: 15px;
  top: 0;
}
.services__button:nth-child(1) {
  margin-right: 15px;
}

.contacts__button:not(:last-child) {
  margin-right: 15px;
}

.main {
  padding-top: 25px;
  background-color: #f8f8f8;
}
.main__title {
  margin-bottom: 30px;
}
@media screen and ((min-width: 1120px)) {
  .main__title {
    margin-bottom: 20px;
  }
}
.main__title::before {
  width: 4px;
  height: 40px;
  position: absolute;
  left: 0 !important;
  display: inline-block;
  content: "";
  background-color: #41f6d7;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}
@media screen and ((min-width: 1440px)) {
  .main__title::before {
    display: none;
  }
}
.main__tabs {
  margin-bottom: 15px;
}

.tabs {
  overflow: scroll;
}
.tabs__list {
  display: flex;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}
@media screen and ((min-width: 1120px)) {
  .tabs__list {
    flex-wrap: wrap;
  }
}
.tabs__item {
  margin: 0;
  border-radius: 5px;
  margin-bottom: 15px;
}
.tabs__link {
  text-wrap: nowrap;
  white-space: nowrap;
  color: #7e7e82;
  padding: 5px 20px 0 5px;
  line-height: 24px;
  font-weight: 500;
  border: 2px solid rgba(184, 255, 236, 0);
  border-radius: 5px;
}
.tabs__link:not(.tabs__link--active):hover {
  opacity: 0.7;
}
.tabs__link--active {
  padding: 5px 20px;
  background-color: #ffffff;
  border: 2px solid #b8ffec;
}
@media screen and ((min-width: 1120px)) {
  .tabs {
    overflow: hidden;
    flex-wrap: wrap;
  }
}
@media screen and ((min-width: 1440px)) {
  .tabs {
    margin-bottom: 15px;
  }
}

.about {
  display: flex;
  flex-direction: column;
}
.about__services {
  display: none;
}
@media screen and ((min-width: 1120px)) {
  .about__services {
    display: flex;
  }
}
.about__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__button {
  margin-top: 15px;
}
.about__button:nth-child(1) {
  margin-right: 30px;
}
@media screen and ((min-width: 768px)) {
  .about__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.about__paragraph {
  color: #1b1c21;
  font-size: 16px;
  line-height: 18px;
  white-space: pre-wrap;
}
@media screen and ((min-width: 768px)) {
  .about__paragraph {
    line-height: 20px;
  }
}
.about__image {
  width: calc(100% + 30px);
  height: auto;
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and ((min-width: 768px)) {
  .about__image {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    border-radius: 6px;
  }
}
.about__column:nth-child(1) {
  margin-bottom: 15px;
}
@media screen and ((min-width: 768px)) {
  .about__column:nth-child(1) {
    margin-bottom: 0;
    flex: 0 1 44%;
  }
}
@media screen and ((min-width: 1120px)) {
  .about__column:nth-child(1) {
    flex: 0 1 46%;
  }
}
.about__column:nth-child(2) {
  flex: 0 1 50%;
  margin-bottom: 15px;
}

.side-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 4px 0 0 rgba(69, 79, 126, 0.02);
}
.side-menu__header {
  display: flex;
  justify-content: space-between;
}
.side-menu__menu-button {
  margin-right: 15px;
}
.side-menu__contacts {
  margin-bottom: 15px;
}
.side-menu__controls {
  display: flex;
  flex-direction: column;
}
.side-menu__mail {
  margin-bottom: 10px;
}
.side-menu__phone {
  margin-bottom: 40px;
}
.side-menu__lang-controls {
  margin-bottom: 30px;
}

.navigation__item:not(:last-child) {
  margin-bottom: 30px;
}
.navigation__link {
  display: inline-block;
  position: relative;
  color: #1b1c21;
  line-height: 32px;
}
.navigation__link:hover {
  color: #7e7e82;
}
.navigation__link--active {
  color: #7e7e82;
}
.navigation__link--active::before {
  position: absolute;
  top: 0;
  left: -25px;
  content: "";
  width: 4px;
  height: 100%;
  background-color: #41f6d7;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}

.brands__title {
  padding: 15px 0;
  margin-bottom: 15px;
  
  background: linear-gradient(to right, #f8f8f8 20%, #fff 35%);
}

.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #ffffff;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  max-height: 72px;
}
@media screen and ((min-width: 768px)) {
  .brand {
    width: 100%;
  }
}
.brand__button {
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  background-color: #ffffff;
}
.brand__button > .button__icon {
  width: auto;
  height: auto;
  background-color: #ffffff;
}
.brand__image {
  flex: 0 0 auto;
}

.swiper {
  height: 115px;
}
.swiper-button {
  display: none;
}
.swiper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 20px;
  height: 76px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  opacity: 0.6;
  z-index: 10;
}
.swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-color: #B5B6BC;
  --swiper-pagination-bullet-inactive-color: #DDDDDD;
  --swiper-pagination-bullet-inactive-opacity: 1;
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
.swiper-slide {
  box-sizing: border-box;
  max-height: 72px;
}
@media screen and ((min-width: 768px)) {
  .swiper {
    height: auto;
  }
  .swiper-wrapper {
    --gap: 30px;
    --elements: 3;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    margin-bottom: 25px;
  }
  .swiper-slide {
    width: calc((100% - (var(--elements) - 1) * var(--gap)) / (var(--elements)));
  }
  .swiper-button {
    display: inline-block;
  }
  .swiper-button--active::before {
    transform: rotate(180deg);
  }
  .swiper-button--active:hover::before {
    transform: translateY(-1px) rotate(180deg);
  }
}
@media screen and ((min-width: 1440px)) {
  .swiper-wrapper {
    --elements: 4;
  }
}

/*# sourceMappingURL=style.css.map */
